 
 
 
 <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="{% url 'home' %}" class="logo">
                        Edu Meeting
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li><a href="{% url 'home' %}" class="active"> Home</a></li>
                        <li><a href="{% url 'meetings' %}"> All Meetings </a></li>
                        <li><a href='{% url 'courses' %}'> Our Courses </a></li>
                        <li class="has-sub">
                            <a href="javascript:void(0)">Pages</a>
                            <ul class="sub-menu">
                                <li><a href='{% url 'meetings' %}'>All Meetings</a></li>
                                <li><a href='{% url 'courses' %}'>All Courses</a></li>
                            </ul>
                        </li>
                        <li class="scroll-to-section"><a href="#contact">Contact Us</a></li> 
                    </ul>        
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>